package pages

templ Layout() {
	<html lang="en">
		<head>
			<script src="/assets/js/lib/htmx.js"></script>
			<link rel="stylesheet" href="/assets/css/output.css"/>
		</head>
		{ children... }
	</html>
}
